* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7f2f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.calculator, .results {
    padding: 20px;
    flex: 1 1 300px;
}

.calculator {
    background-color: #f7faff;
}

.results {
    background-color: #073b4c;
    color: #fff;
}
.resultCount{
    border: 1px solid #ddd;
    background: #2c2c2c;
    color: #ffffff;
    padding: 10px;
    width: 85%;
    margin: 5px auto;
    border-radius: 6px;
    border-top: 4px solid #ffc107;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}

button:hover {
    background-color: #e0a800;
}

.results h2 {
    margin-top: 0;
}

.result {
    margin-bottom: 15px;
}

.result p {
    margin: 0;
}

.result span {
    display: block;
    font-size: 20px;
    font-weight: 400;
}
.headingTitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
} 
.headingTitle p{
    text-decoration: underline;
    opacity: 0.6;
    cursor: pointer;

}
.headingTitle h4{
    font-size: 24px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
